body{
  background-image: url(../img/cork.jpg);
  background-size: 40%;
  }


.jumbotron {
text-align: center;
background: linear-gradient( rgba(0, 0, 0, .30), rgba(0, 0, 0, .30) ), url("../img/jumboback.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: white;
text-shadow: 2px 2px 2px;
}

#diana {
  padding-top: 10%;
  width: 70%;
  height: 400px;
  display: block;
}

#heading {
  font-size: 32px;
}

.checks {
  font-size:24px;
}

#submit {
  display: block;
  margin: auto;
}

.tack {
  width: 5%;
  height: 5%;
}

#tack2 {
  float:right;
}

#tack3 {
  float:right;
}
