
body{
  background-image: url(../img/cork.jpg);
  background-size: 40%;
  }

  .jumbotron {
  text-align: center;
  background: linear-gradient( rgba(0, 0, 0, .30), rgba(0, 0, 0, .30) ), url("../img/jumboback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 2px;
}
#satan{
  display: none;
  width: 300px;
  height: 400px;
}
#francis{
  display: block;
  margin: auto;
  width: 300px;
  height: 400px;
  cursor: pointer;
}

#questions {
  text-align: center;
  height: 275px;
}

#goodDeedField {
  height: 200px;
  width: 350px;
}

.button{
  display: block;
  margin: auto;
  margin-top: 5%;
}

.pics {
  height: 300px;
  width: 300px;
  margin-left: 50px;
}

#nameResponse{
  /*padding-left: 20%;*/
  font-size: 20px;
}

#quiz-start {
  color: blue;
  text-align: center;
}

#hidden {
  display: none;
  text-align: center;
  height: 275px;
  margin-top: 10%;
}
