#results {
  padding-left: 40px;
  padding-right: 40px;
}

#jamie {
  width: 65%;
  display:block;
  margin: auto;
}

#jane {
  width: 65%;
  display:block;
  margin: auto;
}
#angelina {
  width: 65%;
  display:block;
  margin: auto;
}
#mother {
  width: 65%;
  display:block;
  margin: auto;
}
